body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 5px;
}

.materialImg {
    width: 300px;
    margin-bottom: 5vh;
}